.container {
    max-width: 350px;
    text-align: center;
    font-family: monospace;
}

.title{
    color: red;
}

button {
    border: none;
    outline: none !important;
    background: white;
}

i:active {
    color: brown;
    transform: scale(1.3);
}




